atomicwrites==1.3.0
attrs==19.1.0
colorama==0.4.1
comtypes==1.1.7
Faker==1.0.2
more-itertools==6.0.0
Pillow==5.4.1
pluggy==0.9.0
py==1.8.0
pyautogui==0.9.42
PyGetWindow==0.0.1
PyMsgBox==1.0.6
PyScreeze==0.1.20
pytest==4.3.1
python-dateutil==2.8.0
PyTweening==1.0.3
pywin32==224
pywinauto==0.6.6
robotframework==3.1.1
six==1.12.0
text-unidecode==1.2
